

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro/Cera_Pro_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro/Cera_Pro_Medium_Italic.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro/Cera_Pro_Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro/Cera_Pro_Black_Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
